:host {
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  display: block;
}

pre {
  background-color: #000;
  color: #fff;
  padding: 18px;
  margin: 0;
  min-height: 100%;

  font-size: smaller;
}
