<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="(account$ | async) as account">
      <ion-content>
        <ion-list>
          <ion-item button detail="false" (click)="changeAccount()">
            <app-account-info-box [account]="account"></app-account-info-box>
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <fa-icon slot="start" [icon]="p.icon"></fa-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

      <ion-footer class="ion-no-border">
        <div class="section-container version-wrapper">
          <small>v: <strong>{{version$ | async}}</strong></small>
        </div>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>