ion-list {
    padding-bottom: 68px;
  }
  
  .account-picker {
    margin-right: 18px;
  
    ion-button {
      --ripple-color: transparent!important;
    }
  
    app-account-icon {
      width: 32px;
      height: 32px;
      display: block;
    }
  }
  
  .app-status-row {
    padding: 10px 0;
    fa-icon {
      margin-right: 10px;
    }
  
    .building-icon {
      animation: rotation 2s infinite linear;
      display: inline-block;
      fa-icon {
        margin: 0;
      }
    }
  
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
  